{
  "openapi": "3.0.3",
  "info": {
    "title": "HL Indexer API — EVM",
    "version": "1.0.0",
    "description": "EVM blockchain data: blocks, transactions, event logs, ledger transfers, bridge events."
  },
  "servers": [
    {
      "url": "https://api.hypedexer.com",
      "description": "EU production"
    }
  ],
  "tags": [
    {
      "name": "EVM",
      "description": "EVM blockchain data: blocks, transactions, logs, ledger transfers, bridge events."
    }
  ],
  "paths": {
    "/evm/stats": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "Global EVM indexing stats",
        "description": "Total blocks, transactions, logs indexed and block range.",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evm/stats/daily": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "Daily block/tx stats",
        "description": "Daily block and transaction counts over a configurable lookback window.",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to look back",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 365
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evm/blocks": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "List EVM blocks",
        "description": "Returns EVM blocks with optional filters on block range and time range.",
        "parameters": [
          {
            "name": "start_block",
            "in": "query",
            "description": "Min block number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_block",
            "in": "query",
            "description": "Max block number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Start time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "End time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evm/blocks/{block_number}": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "Get block by number",
        "description": "Returns a single EVM block by its block number.",
        "parameters": [
          {
            "name": "block_number",
            "in": "path",
            "required": true,
            "description": "Block number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Block not found"
          }
        }
      }
    },
    "/evm/transactions": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "List EVM transactions",
        "description": "Returns EVM transactions with optional filters.",
        "parameters": [
          {
            "name": "block_number",
            "in": "query",
            "description": "Filter by block number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_addr",
            "in": "query",
            "description": "Filter by to address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Start time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "End time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "include_system",
            "in": "query",
            "description": "Include system transactions",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evm/blocks/{block_number}/transactions": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "Transactions in a specific block",
        "description": "Returns all transactions in a given block.",
        "parameters": [
          {
            "name": "block_number",
            "in": "path",
            "required": true,
            "description": "Block number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evm/logs": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "List EVM event logs",
        "description": "Returns EVM event logs with optional filters on block, contract address, and event signature.",
        "parameters": [
          {
            "name": "block_number",
            "in": "query",
            "description": "Filter by block number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Filter by contract address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topic0",
            "in": "query",
            "description": "Filter by event signature (topic0)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Start time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "End time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evm/ledger/transfers": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "List ledger transfers (L1 actions)",
        "description": "L1 ledger transfers including withdraw3, usdSend, spotSend, sendAsset, usdClassTransfer, subAccountTransfer, vaultTransfer.",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "Filter by user address (from or to)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_type",
            "in": "query",
            "description": "Filter by action type",
            "schema": {
              "type": "string",
              "enum": [
                "withdraw3",
                "usdSend",
                "spotSend",
                "sendAsset",
                "usdClassTransfer",
                "subAccountTransfer",
                "vaultTransfer"
              ]
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Filter by token (partial match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Start time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "End time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evm/bridge/events": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "List bridge events (deposits/withdrawals)",
        "description": "Bridge deposit votes, withdrawal finalizations, and signature events.",
        "parameters": [
          {
            "name": "user_addr",
            "in": "query",
            "description": "Filter by user address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event type",
            "schema": {
              "type": "string",
              "enum": [
                "deposit_vote",
                "withdrawal_finalized",
                "withdrawal_sign",
                "withdraw3"
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Start time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "End time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evm/user/{address}/ledger-events": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "Non-funding ledger events for a user",
        "description": "Unified non-funding ledger history for a user. Combines ledger_transfers (usdSend, spotSend, sendAsset, withdraw3, usdClassTransfer, subAccountTransfer, vaultTransfer) and evm_bridge_events (deposit_vote, withdrawal_finalized).\n\nEvent types:\n- `deposit` — bridge deposit into Hyperliquid\n- `withdrawal` — withdraw3 or bridge withdrawal finalized\n- `transfer_in` — received via usdSend/spotSend/sendAsset\n- `transfer_out` — sent via usdSend/spotSend/sendAsset\n- `class_transfer` — perp ↔ spot USDC transfer\n- `sub_account` — sub-account transfer\n- `vault` — vault deposit/withdrawal",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "User address (0x…)",
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event type(s) (repeat param for multiple)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "deposit",
                  "withdrawal",
                  "transfer_in",
                  "transfer_out",
                  "class_transfer",
                  "sub_account",
                  "vault"
                ]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Start time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "End time (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/evm/user/{address}/ledger-summary": {
      "get": {
        "tags": [
          "EVM"
        ],
        "summary": "Aggregated ledger summary per action type for a user",
        "description": "Count and total amount per action type across all ledger transfers involving this user.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "User address (0x…)",
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "OK"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}