{
  "openapi": "3.0.3",
  "info": {
    "title": "Hypedexer Live Data — REST API",
    "version": "0.1.0",
    "description": "**HTTP:** All operations use **`POST {server}/info`** with a JSON body. Each variant is documented below as a **oneOf** request schema; the HTTP path is always `/info` (not `/info/<name>`).\n\nREST API for real-time Hyperliquid market data served from a local fullnode.\n\nAll data is accessed through a single unified endpoint `POST /info` that dispatches based on the `type` field in the JSON body.\n\n## Request types\n\n| Type | Description | Handled |\n|------|-------------|----------|\n| `metaAndAssetCtxs` | Asset context (funding, OI, prices) | Locally (Redis cache) |\n| `allMids` | Mid prices for all coins | Locally (Redis cache) |\n| `userFills` / `userFillsByTime` | Fills for a specific user | Locally (volume files) |\n| `allFills` | All fills globally | Locally (volume files) |\n| `trades` | Trade data | Locally (volume files) |\n| `l2Book` / `l2Books` | L2 order book snapshot | Locally |\n| `availableDates` | Available data dates | Locally |\n| `clearinghouseState` | Clearinghouse state (single/multi-user) | Locally with upstream proxy per user |\n| `meta`, `spotMeta`, `openOrders`, ... | Proxied to local Hyperliquid node | Proxied to upstream |\n\n## Authentication\n\nOptional. When `API_KEY` is configured on the server, all requests must include:\n```\nAuthorization: Bearer <API_KEY>\n```\n\n## Response format\n\nMost types return:\n```json\n{ \"result\": <data>, \"cursor\": null }\n```\n\n`allMids` returns the result directly (not wrapped):\n```json\n{ \"BTC\": \"66764.5\", \"ETH\": \"3421.2\" }\n```\n\nProxied types return the upstream response as-is.",
    "contact": {
      "name": "Hypedexer"
    }
  },
  "servers": [
    {
      "url": "https://api.hypedexer.com",
      "description": "Production — Live fullnode data"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Service health and info."
    },
    {
      "name": "Asset Context",
      "description": "Real-time asset context data: funding, open interest, oracle/mark/mid prices, volumes. Sourced from Redis cache populated by the asset context worker."
    },
    {
      "name": "Mid Prices",
      "description": "Mid prices for all coins, optionally filtered by DEX."
    },
    {
      "name": "Fills",
      "description": "Executed fills from the Hyperliquid fullnode volumes. Supports user-specific and global queries."
    },
    {
      "name": "Trades",
      "description": "Trade data from the fullnode volumes."
    },
    {
      "name": "Order Book",
      "description": "L2 order book snapshots."
    },
    {
      "name": "Metadata",
      "description": "Volume availability and data metadata."
    },
    {
      "name": "Clearinghouse",
      "description": "Clearinghouse state with multi-user support. Each user is fetched individually from the upstream Hyperliquid node."
    },
    {
      "name": "Perpetuals",
      "description": "Perpetual market metadata, margin, OI caps, DEX configs. "
    },
    {
      "name": "Spot",
      "description": "Spot market metadata, balances, and deploy state. "
    },
    {
      "name": "Trading",
      "description": "Orders, positions, and active asset data. "
    },
    {
      "name": "Account",
      "description": "User account info: fees, rate limits, sub-accounts, agents, roles. "
    },
    {
      "name": "Vaults",
      "description": "Vault summaries, equities, and leaderboards. "
    },
    {
      "name": "Staking",
      "description": "Delegations, staking summaries, and validator votes. "
    },
    {
      "name": "Exchange",
      "description": "Exchange status, liquidatable positions, web data. "
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Service info",
        "description": "Returns basic service information and endpoint pointers.",
        "responses": {
          "200": {
            "description": "Service info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": {
                      "type": "string",
                      "example": "hypedexer-livedata"
                    },
                    "docs": {
                      "type": "string",
                      "example": "/docs"
                    },
                    "rest": {
                      "type": "string",
                      "example": "POST /info"
                    },
                    "websocket": {
                      "type": "string",
                      "example": "GET /ws"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/info": {
      "post": {
        "tags": [
          "Account",
          "Asset Context",
          "Clearinghouse",
          "Exchange",
          "Fills",
          "Metadata",
          "Mid Prices",
          "Order Book",
          "Perpetuals",
          "Spot",
          "Staking",
          "Trades",
          "Trading",
          "Vaults"
        ],
        "summary": "Unified info endpoint (POST /info)",
        "operationId": "postInfo",
        "description": "All live-data requests are sent as **HTTP POST** to `{server}/info` with a JSON body. The `type` field (and optional fields) selects the operation.\n\n### Documented request variants (same URL)\n\n- **metaAndAssetCtxs** — Get asset context for a coin\n- **allMids** — Get mid prices for all coins\n- **userFills** — Get fills for a specific user\n- **allFills** — Get all fills globally\n- **trades** — Get trades\n- **l2Book** — Get L2 order book snapshot\n- **availableDates** — List available data dates\n- **clearinghouseState** — Get clearinghouse state\n- **meta** — Perpetual metadata\n- **spotMeta** — Spot metadata\n- **spotClearinghouseState** — Spot clearinghouse state\n- **openOrders** — Open orders\n- **frontendOpenOrders** — Open orders (extended)\n- **exchangeStatus** — Exchange status\n- **liquidatable** — Liquidatable positions\n- **activeAssetData** — Active asset data for a user\n- **maxMarketOrderNtls** — Max market order notionals\n- **vaultSummaries** — Vault summaries\n- **userVaultEquities** — User vault equities\n- **leadingVaults** — Leading vaults\n- **extraAgents** — Extra agents (API wallets)\n- **subAccounts** — Sub-accounts\n- **userFees** — User fee schedule\n- **userRateLimit** — User rate limit\n- **spotDeployState** — Spot deploy state\n- **perpDeployAuctionStatus** — Perp deploy auction status\n- **delegations** — User delegations\n- **delegatorSummary** — Delegator summary\n- **maxBuilderFee** — Max builder fee\n- **userToMultiSigSigners** — Multi-sig signers\n- **userRole** — User role\n- **perpsAtOpenInterestCap** — Perps at open interest cap\n- **validatorL1Votes** — Validator L1 votes\n- **marginTable** — Margin table\n- **perpDexs** — List perpetual DEXes\n- **webData2** — Web data (frontend)\n\nEach variant is listed as a **oneOf** schema in the request body below.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "coin"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "metaAndAssetCtxs",
                          "assetContext"
                        ]
                      },
                      "coin": {
                        "type": "string",
                        "description": "Coin symbol",
                        "example": "BTC"
                      }
                    },
                    "title": "metaAndAssetCtxs"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "allMids"
                        ]
                      },
                      "dex": {
                        "type": "string",
                        "nullable": true,
                        "description": "DEX filter. Omit for perps only, `ALL_DEXS` for all, or a specific DEX name.",
                        "example": "ALL_DEXS"
                      }
                    },
                    "title": "allMids"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "userFills",
                          "userFillsByTime"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "Single Ethereum address (0x-prefixed)",
                        "example": "0xabc123..."
                      },
                      "addresses": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of Ethereum addresses. Takes precedence over `user` if both provided."
                      },
                      "startTime": {
                        "type": "integer",
                        "description": "Start timestamp in milliseconds since epoch",
                        "example": 1700000000000
                      },
                      "endTime": {
                        "type": "integer",
                        "description": "End timestamp in milliseconds since epoch",
                        "example": 1700100000000
                      },
                      "limit": {
                        "type": "integer",
                        "description": "Maximum number of results to return",
                        "default": 100,
                        "example": 50
                      }
                    },
                    "title": "userFills"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "allFills"
                        ]
                      },
                      "coin": {
                        "type": "string",
                        "description": "Filter by coin symbol",
                        "example": "ETH"
                      },
                      "startTime": {
                        "type": "integer",
                        "description": "Start timestamp in milliseconds"
                      },
                      "endTime": {
                        "type": "integer",
                        "description": "End timestamp in milliseconds"
                      },
                      "limit": {
                        "type": "integer",
                        "default": 100
                      }
                    },
                    "title": "allFills"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "trades"
                        ]
                      },
                      "coin": {
                        "type": "string",
                        "description": "Filter by coin symbol",
                        "example": "BTC"
                      },
                      "startTime": {
                        "type": "integer",
                        "description": "Start timestamp in milliseconds"
                      },
                      "endTime": {
                        "type": "integer",
                        "description": "End timestamp in milliseconds"
                      },
                      "limit": {
                        "type": "integer",
                        "default": 100
                      }
                    },
                    "title": "trades"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "l2Book",
                          "l2Books"
                        ]
                      },
                      "coin": {
                        "type": "string",
                        "description": "Coin symbol (for l2Book)",
                        "example": "BTC"
                      },
                      "coins": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of coin symbols (for l2Books, uses first coin)"
                      }
                    },
                    "title": "l2Book"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "availableDates"
                        ]
                      },
                      "volume": {
                        "type": "string",
                        "enum": [
                          "node_fills",
                          "node_trades"
                        ],
                        "default": "node_fills",
                        "description": "Volume source to query"
                      }
                    },
                    "title": "availableDates"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "clearinghouseState"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "Single Ethereum address",
                        "example": "0xabc..."
                      },
                      "users": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of Ethereum addresses (multi-user mode)"
                      },
                      "dex": {
                        "type": "string",
                        "description": "DEX filter",
                        "example": "ORCA"
                      }
                    },
                    "title": "clearinghouseState"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "meta"
                        ]
                      },
                      "dex": {
                        "type": "string",
                        "description": "Perp dex name. Defaults to the empty string (first perp dex)."
                      }
                    },
                    "title": "meta"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "spotMeta"
                        ]
                      }
                    },
                    "title": "spotMeta"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "spotClearinghouseState"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "spotClearinghouseState"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "openOrders"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      },
                      "dex": {
                        "type": "string",
                        "description": "Perp dex name. Defaults to first perp dex."
                      }
                    },
                    "title": "openOrders"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "frontendOpenOrders"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      },
                      "dex": {
                        "type": "string",
                        "description": "Perp dex name. Defaults to first perp dex."
                      }
                    },
                    "title": "frontendOpenOrders"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "exchangeStatus"
                        ]
                      }
                    },
                    "title": "exchangeStatus"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "liquidatable"
                        ]
                      }
                    },
                    "title": "liquidatable"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user",
                      "coin"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "activeAssetData"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      },
                      "coin": {
                        "type": "string",
                        "description": "Coin symbol",
                        "example": "ETH"
                      }
                    },
                    "title": "activeAssetData"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "maxMarketOrderNtls"
                        ]
                      }
                    },
                    "title": "maxMarketOrderNtls"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "vaultSummaries"
                        ]
                      }
                    },
                    "title": "vaultSummaries"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "userVaultEquities"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "userVaultEquities"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "leadingVaults"
                        ]
                      }
                    },
                    "title": "leadingVaults"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "extraAgents"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "extraAgents"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "subAccounts"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "subAccounts"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "userFees"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "userFees"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "userRateLimit"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "userRateLimit"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "spotDeployState"
                        ]
                      }
                    },
                    "title": "spotDeployState"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "perpDeployAuctionStatus"
                        ]
                      }
                    },
                    "title": "perpDeployAuctionStatus"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "delegations"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "delegations"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "delegatorSummary"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "delegatorSummary"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user",
                      "builder"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "maxBuilderFee"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "User address (42-char hex)",
                        "example": "0xabc..."
                      },
                      "builder": {
                        "type": "string",
                        "description": "Builder address (42-char hex)",
                        "example": "0xdef..."
                      }
                    },
                    "title": "maxBuilderFee"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "userToMultiSigSigners"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "userToMultiSigSigners"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "userRole"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "userRole"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "perpsAtOpenInterestCap"
                        ]
                      },
                      "dex": {
                        "type": "string",
                        "description": "Perp dex name. If not specified, uses first perp dex."
                      }
                    },
                    "title": "perpsAtOpenInterestCap"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "validatorL1Votes"
                        ]
                      }
                    },
                    "title": "validatorL1Votes"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "marginTable"
                        ]
                      }
                    },
                    "title": "marginTable"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "perpDexs"
                        ]
                      }
                    },
                    "title": "perpDexs"
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "user"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "webData2"
                        ]
                      },
                      "user": {
                        "type": "string",
                        "description": "42-character hex address",
                        "example": "0xabc..."
                      }
                    },
                    "title": "webData2"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — response shape depends on the `type` field (and other fields) in the request JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/AssetContext"
                        }
                      },
                      "title": "metaAndAssetCtxs response"
                    },
                    {
                      "$ref": "#/components/schemas/AllMids",
                      "title": "allMids response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AddressedFill"
                          }
                        }
                      },
                      "title": "userFills response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AddressedFill"
                          }
                        }
                      },
                      "title": "allFills response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Trade"
                          }
                        }
                      },
                      "title": "trades response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/L2BookSnapshot"
                        }
                      },
                      "title": "l2Book response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "volume": {
                              "type": "string",
                              "example": "node_fills"
                            },
                            "dates": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": [
                                "20240101",
                                "20240102",
                                "20240103"
                              ]
                            }
                          }
                        }
                      },
                      "title": "availableDates response"
                    },
                    {
                      "oneOf": [
                        {
                          "type": "object",
                          "description": "Single-user result (upstream response as-is)"
                        },
                        {
                          "type": "object",
                          "description": "Multi-user result: map of address to upstream response",
                          "additionalProperties": {
                            "type": "object"
                          }
                        }
                      ],
                      "title": "clearinghouseState response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "universe": {
                          "type": "array",
                          "description": "Listed perpetual assets",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "BTC"
                              },
                              "szDecimals": {
                                "type": "integer",
                                "example": 5
                              },
                              "maxLeverage": {
                                "type": "integer",
                                "example": 50
                              },
                              "onlyIsolated": {
                                "type": "boolean"
                              },
                              "isDelisted": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "marginTables": {
                          "type": "array",
                          "description": "Margin tier configurations"
                        }
                      },
                      "title": "meta response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "tokens": {
                          "type": "array",
                          "description": "Token definitions",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "USDC"
                              },
                              "szDecimals": {
                                "type": "integer",
                                "example": 8
                              },
                              "weiDecimals": {
                                "type": "integer",
                                "example": 8
                              },
                              "index": {
                                "type": "integer",
                                "example": 0
                              },
                              "tokenId": {
                                "type": "string",
                                "description": "Onchain token identifier"
                              },
                              "isCanonical": {
                                "type": "boolean"
                              },
                              "evmContract": {
                                "type": "string",
                                "nullable": true
                              },
                              "fullName": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "universe": {
                          "type": "array",
                          "description": "Spot trading pairs",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "PURR/USDC"
                              },
                              "tokens": {
                                "type": "array",
                                "items": {
                                  "type": "integer"
                                },
                                "description": "[base_index, quote_index]"
                              },
                              "index": {
                                "type": "integer"
                              },
                              "isCanonical": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      },
                      "title": "spotMeta response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "balances": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "coin": {
                                "type": "string",
                                "example": "USDC"
                              },
                              "token": {
                                "type": "integer",
                                "example": 0
                              },
                              "hold": {
                                "type": "string",
                                "example": "0.0"
                              },
                              "total": {
                                "type": "string",
                                "example": "14.625485"
                              },
                              "entryNtl": {
                                "type": "string",
                                "example": "0.0"
                              }
                            }
                          }
                        }
                      },
                      "title": "spotClearinghouseState response"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coin": {
                            "type": "string",
                            "example": "BTC"
                          },
                          "limitPx": {
                            "type": "string",
                            "example": "29792.0"
                          },
                          "oid": {
                            "type": "integer",
                            "example": 91490942
                          },
                          "side": {
                            "type": "string",
                            "enum": [
                              "A",
                              "B"
                            ]
                          },
                          "sz": {
                            "type": "string",
                            "example": "0.5"
                          },
                          "timestamp": {
                            "type": "integer",
                            "example": 1681247412573
                          }
                        }
                      },
                      "title": "openOrders response"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coin": {
                            "type": "string"
                          },
                          "limitPx": {
                            "type": "string"
                          },
                          "oid": {
                            "type": "integer"
                          },
                          "side": {
                            "type": "string",
                            "enum": [
                              "A",
                              "B"
                            ]
                          },
                          "sz": {
                            "type": "string"
                          },
                          "origSz": {
                            "type": "string",
                            "description": "Original order size"
                          },
                          "orderType": {
                            "type": "string",
                            "description": "e.g. Limit, Stop Market, Take Profit"
                          },
                          "timestamp": {
                            "type": "integer"
                          },
                          "isTrigger": {
                            "type": "boolean"
                          },
                          "isPositionTpsl": {
                            "type": "boolean"
                          },
                          "reduceOnly": {
                            "type": "boolean"
                          },
                          "triggerPx": {
                            "type": "string",
                            "nullable": true
                          },
                          "triggerCondition": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "title": "frontendOpenOrders response"
                    },
                    {
                      "title": "exchangeStatus — 200",
                      "type": "object",
                      "description": "Exchange status object"
                    },
                    {
                      "title": "liquidatable — 200",
                      "type": "object",
                      "description": "Array of liquidatable positions"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "string"
                        },
                        "coin": {
                          "type": "string"
                        },
                        "leverage": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "cross",
                                "isolated"
                              ],
                              "example": "cross"
                            },
                            "value": {
                              "type": "integer",
                              "example": 3
                            }
                          }
                        },
                        "maxTradeSzs": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "[max_long, max_short]"
                        },
                        "availableToTrade": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "[available_long, available_short]"
                        },
                        "markPx": {
                          "type": "string",
                          "example": "4.4716"
                        }
                      },
                      "title": "activeAssetData response"
                    },
                    {
                      "title": "maxMarketOrderNtls — 200",
                      "type": "object",
                      "description": "Max market order notionals per asset"
                    },
                    {
                      "title": "vaultSummaries — 200",
                      "type": "object",
                      "description": "Array of vault summary objects"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "vaultAddress": {
                            "type": "string",
                            "example": "0xdfc24b077bc1425ad1dea75bcb6f8158e10df303"
                          },
                          "equity": {
                            "type": "string",
                            "example": "742500.082809"
                          }
                        }
                      },
                      "title": "userVaultEquities response"
                    },
                    {
                      "title": "leadingVaults — 200",
                      "type": "object",
                      "description": "Array of leading vault objects with performance data"
                    },
                    {
                      "title": "extraAgents — 200",
                      "type": "object",
                      "description": "Array of authorized agent addresses"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Test"
                          },
                          "subAccountUser": {
                            "type": "string",
                            "description": "Sub-account address"
                          },
                          "master": {
                            "type": "string",
                            "description": "Master account address"
                          },
                          "clearinghouseState": {
                            "type": "object",
                            "description": "Perp clearinghouse state"
                          },
                          "spotState": {
                            "type": "object",
                            "description": "Spot clearinghouse state"
                          }
                        }
                      },
                      "title": "subAccounts response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "dailyUserVlm": {
                          "type": "array",
                          "description": "Daily volume breakdown"
                        },
                        "feeSchedule": {
                          "type": "object",
                          "description": "Fee tier schedule"
                        },
                        "userCrossRate": {
                          "type": "string",
                          "example": "0.000315"
                        },
                        "userAddRate": {
                          "type": "string",
                          "example": "0.0001"
                        },
                        "activeReferralDiscount": {
                          "type": "string",
                          "example": "0.0"
                        }
                      },
                      "title": "userFees response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "cumVlm": {
                          "type": "string",
                          "description": "Cumulative volume",
                          "example": "2854574.593578"
                        },
                        "nRequestsUsed": {
                          "type": "integer",
                          "example": 2890
                        },
                        "nRequestsCap": {
                          "type": "integer",
                          "example": 2864574
                        },
                        "nRequestsSurplus": {
                          "type": "integer",
                          "example": 0
                        }
                      },
                      "title": "userRateLimit response"
                    },
                    {
                      "title": "spotDeployState — 200",
                      "type": "object",
                      "description": "Spot deploy state and auction info"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "startTimeSeconds": {
                          "type": "integer",
                          "example": 1747656000
                        },
                        "durationSeconds": {
                          "type": "integer",
                          "example": 111600
                        },
                        "startGas": {
                          "type": "string",
                          "example": "500.0"
                        },
                        "currentGas": {
                          "type": "string",
                          "example": "500.0"
                        },
                        "endGas": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "title": "perpDeployAuctionStatus response"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "validator": {
                            "type": "string",
                            "description": "Validator address",
                            "example": "0x5ac99df..."
                          },
                          "amount": {
                            "type": "string",
                            "example": "12060.16529862"
                          },
                          "lockedUntilTimestamp": {
                            "type": "integer",
                            "example": 1735466781353
                          }
                        }
                      },
                      "title": "delegations response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "delegated": {
                          "type": "string",
                          "example": "12060.16529862"
                        },
                        "undelegated": {
                          "type": "string",
                          "example": "0.0"
                        },
                        "totalPendingWithdrawal": {
                          "type": "string",
                          "example": "0.0"
                        },
                        "nPendingWithdrawals": {
                          "type": "integer",
                          "example": 0
                        }
                      },
                      "title": "delegatorSummary response"
                    },
                    {
                      "type": "integer",
                      "example": 1,
                      "title": "maxBuilderFee response"
                    },
                    {
                      "title": "userToMultiSigSigners — 200",
                      "type": "object",
                      "description": "Multi-sig signer configuration (array of signer addresses and threshold)"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "agent"
                          ],
                          "example": "user"
                        },
                        "data": {
                          "type": "object",
                          "nullable": true,
                          "description": "Present when role is `agent`",
                          "properties": {
                            "user": {
                              "type": "string",
                              "description": "Parent user address"
                            }
                          }
                        }
                      },
                      "title": "userRole response"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "BADGER",
                        "CANTO",
                        "FTM",
                        "LOOM",
                        "PURR"
                      ],
                      "title": "perpsAtOpenInterestCap response"
                    },
                    {
                      "title": "validatorL1Votes — 200",
                      "type": "object",
                      "description": "Validator L1 vote data"
                    },
                    {
                      "title": "marginTable — 200",
                      "type": "object",
                      "description": "Margin tier table configuration"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "test"
                          },
                          "fullName": {
                            "type": "string",
                            "example": "test dex"
                          },
                          "deployer": {
                            "type": "string",
                            "example": "0x5e89b26d..."
                          },
                          "oracleUpdater": {
                            "type": "string",
                            "nullable": true
                          },
                          "feeRecipient": {
                            "type": "string",
                            "nullable": true
                          },
                          "assetToStreamingOiCap": {
                            "type": "array"
                          },
                          "assetToFundingMultiplier": {
                            "type": "array"
                          }
                        }
                      },
                      "title": "perpDexs response"
                    },
                    {
                      "title": "webData2 — 200",
                      "type": "object",
                      "description": "Aggregated web frontend data"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing `coin` parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "coin required"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnreachable"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Optional. API key passed via `Authorization: Bearer <key>`. Required only when `API_KEY` is configured on the server."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing API key (only when `API_KEY` is configured on the server)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Invalid API key"
            }
          }
        }
      },
      "UpstreamUnreachable": {
        "description": "The upstream Hyperliquid node is unreachable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Upstream unreachable: connection refused"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "AssetContext": {
        "type": "object",
        "description": "Asset context aligned with `metaAndAssetCtxs[1][i]` from the Hyperliquid API. Numeric values are strings to preserve precision. Fields are null when no data is available.",
        "properties": {
          "funding": {
            "type": "string",
            "nullable": true,
            "description": "Current funding rate",
            "example": "-0.0000056499"
          },
          "openInterest": {
            "type": "string",
            "nullable": true,
            "description": "Open interest (6 decimal places)",
            "example": "27328.306520"
          },
          "prevDayPx": {
            "type": "string",
            "nullable": true,
            "description": "Previous day price",
            "example": "65633"
          },
          "dayNtlVlm": {
            "type": "string",
            "nullable": true,
            "description": "Daily notional volume in USD",
            "example": "2290705901.9124403"
          },
          "premium": {
            "type": "string",
            "nullable": true,
            "description": "Premium rate",
            "example": "-0.0005538756"
          },
          "oraclePx": {
            "type": "string",
            "nullable": true,
            "description": "Oracle price",
            "example": "66802"
          },
          "markPx": {
            "type": "string",
            "nullable": true,
            "description": "Mark price",
            "example": "66765"
          },
          "midPx": {
            "type": "string",
            "nullable": true,
            "description": "Mid price (best bid + best ask / 2)",
            "example": "66764.5"
          },
          "impactPxs": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Impact prices [bid impact, ask impact]",
            "example": [
              "66764",
              "66765"
            ]
          },
          "dayBaseVlm": {
            "type": "string",
            "nullable": true,
            "description": "Daily base volume",
            "example": "34250.45488"
          }
        }
      },
      "AllMids": {
        "type": "object",
        "description": "Map of coin symbol to mid price string",
        "additionalProperties": {
          "type": "string"
        },
        "example": {
          "BTC": "66764.5",
          "ETH": "3421.2",
          "SOL": "150.75"
        }
      },
      "Fill": {
        "type": "object",
        "description": "A single fill from the Hyperliquid fullnode",
        "properties": {
          "coin": {
            "type": "string",
            "description": "Coin symbol",
            "example": "BTC"
          },
          "px": {
            "type": "string",
            "description": "Execution price",
            "example": "65000.5"
          },
          "sz": {
            "type": "string",
            "description": "Size",
            "example": "0.1"
          },
          "side": {
            "type": "string",
            "enum": [
              "A",
              "B"
            ],
            "description": "A = ask (sell), B = bid (buy)"
          },
          "time": {
            "type": "integer",
            "description": "Timestamp in milliseconds since epoch",
            "example": 1700000050000
          },
          "startPosition": {
            "type": "string",
            "description": "Position before this fill",
            "example": "0.0"
          },
          "dir": {
            "type": "string",
            "description": "Direction description",
            "example": "Open Long"
          },
          "closedPnl": {
            "type": "string",
            "description": "Closed PnL from this fill",
            "example": "0.0"
          },
          "hash": {
            "type": "string",
            "description": "Transaction hash",
            "example": "0x..."
          },
          "oid": {
            "type": "integer",
            "description": "Order ID",
            "example": 12345
          },
          "crossed": {
            "type": "boolean",
            "description": "Whether the order crossed the spread"
          },
          "fee": {
            "type": "string",
            "description": "Fee amount",
            "example": "1.625"
          },
          "tid": {
            "type": "integer",
            "description": "Trade ID",
            "example": 67890
          },
          "feeToken": {
            "type": "string",
            "description": "Fee token symbol",
            "example": "USDC"
          }
        }
      },
      "AddressedFill": {
        "type": "object",
        "description": "A fill paired with its user address",
        "properties": {
          "address": {
            "type": "string",
            "description": "Ethereum address of the user",
            "example": "0xabc123..."
          },
          "fill": {
            "$ref": "#/components/schemas/Fill"
          }
        }
      },
      "Trade": {
        "type": "object",
        "description": "A trade record from the fullnode volumes",
        "properties": {
          "coin": {
            "type": "string",
            "example": "BTC"
          },
          "px": {
            "type": "string",
            "description": "Trade price",
            "example": "65000.5"
          },
          "sz": {
            "type": "string",
            "description": "Trade size",
            "example": "0.1"
          },
          "time": {
            "type": "integer",
            "description": "Timestamp in milliseconds",
            "example": 1700000050000
          },
          "side": {
            "type": "string",
            "enum": [
              "A",
              "B"
            ],
            "description": "A = ask (sell), B = bid (buy)"
          }
        }
      },
      "L2BookSnapshot": {
        "type": "object",
        "description": "L2 order book snapshot for a coin",
        "properties": {
          "coin": {
            "type": "string",
            "example": "BTC"
          },
          "levels": {
            "type": "array",
            "description": "Order book levels (may be empty if no snapshot available)",
            "items": {
              "type": "object"
            }
          },
          "timestamp": {
            "type": "integer",
            "nullable": true,
            "description": "Snapshot timestamp in milliseconds (null if no data)"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
