{
  "openapi": "3.0.3",
  "info": {
    "title": "HL Indexer API",
    "version": "1.0.0",
    "description": "API to query indexed Hyperliquid trading data.\n\nThis API provides access to stored/indexed trading data:\n- **Fills**: Executed orders and fills (Spot-only or All = Spot + Perp)\n- **Analytics**: Aggregations and statistics based on indexed data\n- **Completed Trades**: Trade objects and their related fills\n- **Users**: User overviews, performance and activity\n\n> Note: No live streaming. Responses are computed from indexed data."
  },
  "servers": [
    {
      "url": "https://api-eu.hypedexer.com",
      "description": "EU production"
    }
  ],
  "tags": [
    {
      "name": "Fills",
      "description": "Fills endpoints."
    },
    {
      "name": "Analytics",
      "description": "Aggregations and stats."
    },
    {
      "name": "Completed Trades",
      "description": "Trades and fills."
    },
    {
      "name": "Users",
      "description": "User profiles."
    }
  ],
  "paths": {
    "/fills/": {
      "get": {
        "tags": ["Fills"],
        "summary": "List fills (All = Spot + Perp)",
        "description": "Returns fills across Spot and Perp.",
        "parameters": [
          { "name": "start_time", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "end_time", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "coin", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100 } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "default": true },
                    "message": { "type": "string", "default": "OK" },
                    "data": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fills/recent": {
      "get": {
        "tags": ["Fills"],
        "summary": "Get Fills Recent",
        "description": "Recent fills (live table, 24h TTL).",
        "operationId": "get_fills_recent",
        "parameters": [
          { "name": "user", "in": "query", "schema": { "type": "string" } },
          { "name": "coin", "in": "query", "schema": { "type": "string" } },
          { "name": "side", "in": "query", "schema": { "type": "string", "enum": ["B", "A"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100 } }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "default": true },
                    "data": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fills/user/{user_address}": {
      "get": {
        "tags": ["Fills"],
        "summary": "User fills",
        "parameters": [
          { "name": "user_address", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "success": { "type": "boolean" }, "data": { "type": "array", "items": { "type": "object" } } } }
              }
            }
          }
        }
      }
    },
    "/analytics/fills/stats": {
      "get": {
        "tags": ["Analytics"],
        "summary": "Fills statistics",
        "parameters": [
          { "name": "coin", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/analytics/liquidations/stats": {
      "get": {
        "tags": ["Analytics"],
        "summary": "Liquidation Stats",
        "parameters": [
          { "name": "days", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/completed-trades/": {
      "get": {
        "tags": ["Completed Trades"],
        "summary": "List completed trades",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/users/leaderboard": {
      "get": {
        "tags": ["Users"],
        "summary": "Leaderboard",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    { "X-API-Key": [] }
  ]
}
