{
  "openapi": "3.0.3",
  "info": {
    "title": "Hypedexer Live Data — REST API",
    "version": "0.1.0",
    "description": "REST API for real-time Hyperliquid market data served from a local fullnode.\n\nAll data is accessed through a single unified endpoint `POST /info` that dispatches based on the `type` field in the JSON body.\n\n## Request types\n\n| Type | Description | Handled |\n|------|-------------|----------|\n| `metaAndAssetCtxs` | Asset context (funding, OI, prices) | Locally (Redis cache) |\n| `allMids` | Mid prices for all coins | Locally (Redis cache) |\n| `userFills` / `userFillsByTime` | Fills for a specific user | Locally (volume files) |\n| `allFills` | All fills globally | Locally (volume files) |\n| `trades` | Trade data | Locally (volume files) |\n| `l2Book` / `l2Books` | L2 order book snapshot | Locally |\n| `availableDates` | Available data dates | Locally |\n| `clearinghouseState` | Clearinghouse state (single/multi-user) | Locally with upstream proxy per user |\n| `meta`, `spotMeta`, `openOrders`, ... | Proxied to local Hyperliquid node | Proxied to upstream |\n\n## Authentication\n\nOptional. When `API_KEY` is configured on the server, all requests must include:\n```\nAuthorization: Bearer <API_KEY>\n```\n\n## Response format\n\nMost types return:\n```json\n{ \"result\": <data>, \"cursor\": null }\n```\n\n`allMids` returns the result directly (not wrapped):\n```json\n{ \"BTC\": \"66764.5\", \"ETH\": \"3421.2\" }\n```\n\nProxied types return the upstream response as-is.",
    "contact": {
      "name": "Hypedexer"
    }
  },
  "servers": [
    {
      "url": "https://enterprise.hypedexer.com",
      "description": "Production — Live fullnode data"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Service health and info."
    },
    {
      "name": "Asset Context",
      "description": "Real-time asset context data: funding, open interest, oracle/mark/mid prices, volumes. Sourced from Redis cache populated by the asset context worker."
    },
    {
      "name": "Mid Prices",
      "description": "Mid prices for all coins, optionally filtered by DEX."
    },
    {
      "name": "Fills",
      "description": "Executed fills from the Hyperliquid fullnode volumes. Supports user-specific and global queries."
    },
    {
      "name": "Trades",
      "description": "Trade data from the fullnode volumes."
    },
    {
      "name": "Order Book",
      "description": "L2 order book snapshots."
    },
    {
      "name": "Metadata",
      "description": "Volume availability and data metadata."
    },
    {
      "name": "Clearinghouse",
      "description": "Clearinghouse state with multi-user support. Each user is fetched individually from the upstream Hyperliquid node."
    },
    {
      "name": "Proxied",
      "description": "Request types forwarded as-is to the local Hyperliquid node (upstream). Response is returned unchanged."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["Health"],
        "summary": "Service info",
        "description": "Returns basic service information and endpoint pointers.",
        "responses": {
          "200": {
            "description": "Service info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": { "type": "string", "example": "hypedexer-livedata" },
                    "docs": { "type": "string", "example": "/docs" },
                    "rest": { "type": "string", "example": "POST /info" },
                    "websocket": { "type": "string", "example": "GET /ws" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/info#metaAndAssetCtxs": {
      "post": {
        "tags": ["Asset Context"],
        "summary": "Get asset context for a coin",
        "operationId": "metaAndAssetCtxs",
        "description": "Returns the asset context for a specific coin: funding rate, open interest, oracle/mark/mid prices, premium, volumes, and impact prices.\n\nData is served from Redis cache, populated by a background worker that replays fullnode volume events and periodically refreshes from the Hyperliquid API.\n\nAlso accepts `type: \"assetContext\"` as an alias.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "coin"],
                "properties": {
                  "type": { "type": "string", "enum": ["metaAndAssetCtxs", "assetContext"] },
                  "coin": { "type": "string", "description": "Coin symbol", "example": "BTC" }
                }
              },
              "example": { "type": "metaAndAssetCtxs", "coin": "BTC" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset context for the requested coin. Returns an empty context (all fields null) if no data is cached.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": { "$ref": "#/components/schemas/AssetContext" }
                  }
                },
                "example": {
                  "result": {
                    "funding": "-0.0000056499",
                    "openInterest": "27328.306520",
                    "prevDayPx": "65633",
                    "dayNtlVlm": "2290705901.9124403",
                    "premium": "-0.0005538756",
                    "oraclePx": "66802",
                    "markPx": "66765",
                    "midPx": "66764.5",
                    "impactPxs": ["66764", "66765"],
                    "dayBaseVlm": "34250.45488"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing `coin` parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "coin required" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "BearerAuth": [] }]
      }
    },
    "/info#allMids": {
      "post": {
        "tags": ["Mid Prices"],
        "summary": "Get mid prices for all coins",
        "operationId": "allMids",
        "description": "Returns a map of coin symbol to mid price for all available coins.\n\nOptionally filter by DEX:\n- Omit `dex` or set to `null` → perps only\n- `\"ALL_DEXS\"` → all DEXes and perps combined\n- A specific DEX name (e.g. `\"ORCA\"`) → only that DEX\n\n**Note:** This type returns the result directly (not wrapped in `{\"result\": ...}`).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": { "type": "string", "enum": ["allMids"] },
                  "dex": {
                    "type": "string",
                    "nullable": true,
                    "description": "DEX filter. Omit for perps only, `ALL_DEXS` for all, or a specific DEX name.",
                    "example": "ALL_DEXS"
                  }
                }
              },
              "examples": {
                "perps_only": {
                  "summary": "Perps only (default)",
                  "value": { "type": "allMids" }
                },
                "all_dexs": {
                  "summary": "All DEXes + perps",
                  "value": { "type": "allMids", "dex": "ALL_DEXS" }
                },
                "specific_dex": {
                  "summary": "Specific DEX",
                  "value": { "type": "allMids", "dex": "ORCA" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Map of coin symbol to mid price string. Returned directly (no `result` wrapper).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AllMids" },
                "example": {
                  "BTC": "66764.5",
                  "ETH": "3421.2",
                  "SOL": "150.75"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "BearerAuth": [] }]
      }
    },
    "/info#userFills": {
      "post": {
        "tags": ["Fills"],
        "summary": "Get fills for a specific user",
        "operationId": "userFills",
        "description": "Returns fills for one or more Ethereum addresses. Reads from the `node_fills` fullnode volume files.\n\nAccepts both `type: \"userFills\"` and `type: \"userFillsByTime\"` (identical behavior).\n\nProvide either `user` (single address) or `addresses` (list). Addresses are matched case-insensitively.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": { "type": "string", "enum": ["userFills", "userFillsByTime"] },
                  "user": { "type": "string", "description": "Single Ethereum address (0x-prefixed)", "example": "0xabc123..." },
                  "addresses": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "List of Ethereum addresses. Takes precedence over `user` if both provided."
                  },
                  "startTime": { "type": "integer", "description": "Start timestamp in milliseconds since epoch", "example": 1700000000000 },
                  "endTime": { "type": "integer", "description": "End timestamp in milliseconds since epoch", "example": 1700100000000 },
                  "limit": { "type": "integer", "description": "Maximum number of results to return", "default": 100, "example": 50 }
                }
              },
              "examples": {
                "single_user": {
                  "summary": "Single user",
                  "value": { "type": "userFills", "user": "0xabc123...", "startTime": 1700000000000, "limit": 50 }
                },
                "multiple_users": {
                  "summary": "Multiple users with time range",
                  "value": { "type": "userFillsByTime", "addresses": ["0xabc...", "0xdef..."], "startTime": 1700000000000, "endTime": 1700100000000 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of fills with associated address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/AddressedFill" }
                    }
                  }
                },
                "example": {
                  "result": [
                    {
                      "address": "0xabc123...",
                      "fill": {
                        "coin": "BTC",
                        "px": "65000.5",
                        "sz": "0.1",
                        "side": "B",
                        "time": 1700000050000,
                        "startPosition": "0.0",
                        "dir": "Open Long",
                        "closedPnl": "0.0",
                        "hash": "0x...",
                        "oid": 12345,
                        "crossed": true,
                        "fee": "1.625",
                        "tid": 67890,
                        "feeToken": "USDC"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing `user` or `addresses` parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "addresses or user required" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "BearerAuth": [] }]
      }
    },
    "/info#allFills": {
      "post": {
        "tags": ["Fills"],
        "summary": "Get all fills globally",
        "operationId": "allFills",
        "description": "Returns all fills across all users from the `node_fills` fullnode volumes. Optionally filter by coin and time range.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": { "type": "string", "enum": ["allFills"] },
                  "coin": { "type": "string", "description": "Filter by coin symbol", "example": "ETH" },
                  "startTime": { "type": "integer", "description": "Start timestamp in milliseconds" },
                  "endTime": { "type": "integer", "description": "End timestamp in milliseconds" },
                  "limit": { "type": "integer", "default": 100 }
                }
              },
              "example": { "type": "allFills", "coin": "ETH", "limit": 100 }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of fills with associated address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/AddressedFill" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "BearerAuth": [] }]
      }
    },
    "/info#trades": {
      "post": {
        "tags": ["Trades"],
        "summary": "Get trades",
        "operationId": "trades",
        "description": "Returns trade data from the `node_trades` fullnode volumes. Optionally filter by coin and time range.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": { "type": "string", "enum": ["trades"] },
                  "coin": { "type": "string", "description": "Filter by coin symbol", "example": "BTC" },
                  "startTime": { "type": "integer", "description": "Start timestamp in milliseconds" },
                  "endTime": { "type": "integer", "description": "End timestamp in milliseconds" },
                  "limit": { "type": "integer", "default": 100 }
                }
              },
              "example": { "type": "trades", "coin": "BTC", "limit": 50 }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Trade" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "BearerAuth": [] }]
      }
    },
    "/info#l2Book": {
      "post": {
        "tags": ["Order Book"],
        "summary": "Get L2 order book snapshot",
        "operationId": "l2Book",
        "description": "Returns an L2 order book snapshot for a coin.\n\nAlso accepts `type: \"l2Books\"` with a `coins` array parameter (returns the first coin's book).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": { "type": "string", "enum": ["l2Book", "l2Books"] },
                  "coin": { "type": "string", "description": "Coin symbol (for l2Book)", "example": "BTC" },
                  "coins": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "List of coin symbols (for l2Books, uses first coin)"
                  }
                }
              },
              "example": { "type": "l2Book", "coin": "BTC" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "L2 book snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": { "$ref": "#/components/schemas/L2BookSnapshot" }
                  }
                },
                "example": {
                  "result": { "coin": "BTC", "levels": [], "timestamp": null }
                }
              }
            }
          },
          "400": {
            "description": "Missing `coin` or `coins` parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "coin or coins required" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "BearerAuth": [] }]
      }
    },
    "/info#availableDates": {
      "post": {
        "tags": ["Metadata"],
        "summary": "List available data dates",
        "operationId": "availableDates",
        "description": "Returns the list of available date directories in the fullnode volume data. Useful for determining the data range available for queries.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": { "type": "string", "enum": ["availableDates"] },
                  "volume": {
                    "type": "string",
                    "enum": ["node_fills", "node_trades"],
                    "default": "node_fills",
                    "description": "Volume source to query"
                  }
                }
              },
              "example": { "type": "availableDates", "volume": "node_fills" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Available dates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "volume": { "type": "string", "example": "node_fills" },
                        "dates": {
                          "type": "array",
                          "items": { "type": "string" },
                          "example": ["20240101", "20240102", "20240103"]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "BearerAuth": [] }]
      }
    },
    "/info#clearinghouseState": {
      "post": {
        "tags": ["Clearinghouse"],
        "summary": "Get clearinghouse state",
        "operationId": "clearinghouseState",
        "description": "Returns the clearinghouse state for one or more users. Each user is fetched individually from the upstream Hyperliquid node.\n\n**Single user:** Provide `user` → returns the upstream result directly.\n\n**Multi-user:** Provide `users` array → returns a map of `{ address: result }` for each user (fetched in parallel).\n\nOptionally pass `dex` to filter by DEX.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": { "type": "string", "enum": ["clearinghouseState"] },
                  "user": { "type": "string", "description": "Single Ethereum address", "example": "0xabc..." },
                  "users": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "List of Ethereum addresses (multi-user mode)"
                  },
                  "dex": { "type": "string", "description": "DEX filter", "example": "ORCA" }
                }
              },
              "examples": {
                "single_user": {
                  "summary": "Single user",
                  "value": { "type": "clearinghouseState", "user": "0xabc..." }
                },
                "multi_user": {
                  "summary": "Multiple users",
                  "value": { "type": "clearinghouseState", "users": ["0xabc...", "0xdef..."] }
                },
                "with_dex": {
                  "summary": "With DEX filter",
                  "value": { "type": "clearinghouseState", "user": "0xabc...", "dex": "ORCA" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Clearinghouse state. Single user: upstream result directly. Multi-user: `{ address: result }` map.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Single-user result (upstream response as-is)"
                    },
                    {
                      "type": "object",
                      "description": "Multi-user result: map of address to upstream response",
                      "additionalProperties": { "type": "object" }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing `user` or `users` parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "user or users required" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "502": { "$ref": "#/components/responses/UpstreamUnreachable" }
        },
        "security": [{ "BearerAuth": [] }]
      }
    },
    "/info#proxied": {
      "post": {
        "tags": ["Proxied"],
        "summary": "Proxied request types",
        "operationId": "proxiedTypes",
        "description": "The following request types are forwarded as-is to the local Hyperliquid node (`UPSTREAM_INFO_URL`) and the response is returned unchanged:\n\n`meta`, `spotMeta`, `spotClearinghouseState`, `openOrders`, `exchangeStatus`, `frontendOpenOrders`, `liquidatable`, `activeAssetData`, `maxMarketOrderNtls`, `vaultSummaries`, `userVaultEquities`, `leadingVaults`, `extraAgents`, `subAccounts`, `userFees`, `userRateLimit`, `spotDeployState`, `perpDeployAuctionStatus`, `delegations`, `delegatorSummary`, `maxBuilderFee`, `userToMultiSigSigners`, `userRole`, `perpsAtOpenInterestCap`, `validatorL1Votes`, `marginTable`, `perpDexs`, `webData2`\n\nRefer to the [Hyperliquid API documentation](https://hyperliquid.gitbook.io/hyperliquid-docs/for-developers/api/info-endpoint) for the request/response schemas of these types.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "One of the proxied types",
                    "enum": [
                      "meta",
                      "spotMeta",
                      "spotClearinghouseState",
                      "openOrders",
                      "exchangeStatus",
                      "frontendOpenOrders",
                      "liquidatable",
                      "activeAssetData",
                      "maxMarketOrderNtls",
                      "vaultSummaries",
                      "userVaultEquities",
                      "leadingVaults",
                      "extraAgents",
                      "subAccounts",
                      "userFees",
                      "userRateLimit",
                      "spotDeployState",
                      "perpDeployAuctionStatus",
                      "delegations",
                      "delegatorSummary",
                      "maxBuilderFee",
                      "userToMultiSigSigners",
                      "userRole",
                      "perpsAtOpenInterestCap",
                      "validatorL1Votes",
                      "marginTable",
                      "perpDexs",
                      "webData2"
                    ]
                  }
                },
                "additionalProperties": true
              },
              "examples": {
                "meta": {
                  "summary": "Get perpetual metadata",
                  "value": { "type": "meta" }
                },
                "spotMeta": {
                  "summary": "Get spot metadata",
                  "value": { "type": "spotMeta" }
                },
                "openOrders": {
                  "summary": "Get open orders for a user",
                  "value": { "type": "openOrders", "user": "0xabc..." }
                },
                "exchangeStatus": {
                  "summary": "Get exchange status",
                  "value": { "type": "exchangeStatus" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upstream response (varies by type)"
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "502": { "$ref": "#/components/responses/UpstreamUnreachable" }
        },
        "security": [{ "BearerAuth": [] }]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Optional. API key passed via `Authorization: Bearer <key>`. Required only when `API_KEY` is configured on the server."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing API key (only when `API_KEY` is configured on the server)",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "Invalid API key" }
          }
        }
      },
      "UpstreamUnreachable": {
        "description": "The upstream Hyperliquid node is unreachable",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "Upstream unreachable: connection refused" }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": { "type": "string", "description": "Error message" }
        }
      },
      "AssetContext": {
        "type": "object",
        "description": "Asset context aligned with `metaAndAssetCtxs[1][i]` from the Hyperliquid API. Numeric values are strings to preserve precision. Fields are null when no data is available.",
        "properties": {
          "funding": {
            "type": "string",
            "nullable": true,
            "description": "Current funding rate",
            "example": "-0.0000056499"
          },
          "openInterest": {
            "type": "string",
            "nullable": true,
            "description": "Open interest (6 decimal places)",
            "example": "27328.306520"
          },
          "prevDayPx": {
            "type": "string",
            "nullable": true,
            "description": "Previous day price",
            "example": "65633"
          },
          "dayNtlVlm": {
            "type": "string",
            "nullable": true,
            "description": "Daily notional volume in USD",
            "example": "2290705901.9124403"
          },
          "premium": {
            "type": "string",
            "nullable": true,
            "description": "Premium rate",
            "example": "-0.0005538756"
          },
          "oraclePx": {
            "type": "string",
            "nullable": true,
            "description": "Oracle price",
            "example": "66802"
          },
          "markPx": {
            "type": "string",
            "nullable": true,
            "description": "Mark price",
            "example": "66765"
          },
          "midPx": {
            "type": "string",
            "nullable": true,
            "description": "Mid price (best bid + best ask / 2)",
            "example": "66764.5"
          },
          "impactPxs": {
            "type": "array",
            "nullable": true,
            "items": { "type": "string" },
            "description": "Impact prices [bid impact, ask impact]",
            "example": ["66764", "66765"]
          },
          "dayBaseVlm": {
            "type": "string",
            "nullable": true,
            "description": "Daily base volume",
            "example": "34250.45488"
          }
        }
      },
      "AllMids": {
        "type": "object",
        "description": "Map of coin symbol to mid price string",
        "additionalProperties": { "type": "string" },
        "example": {
          "BTC": "66764.5",
          "ETH": "3421.2",
          "SOL": "150.75"
        }
      },
      "Fill": {
        "type": "object",
        "description": "A single fill from the Hyperliquid fullnode",
        "properties": {
          "coin": { "type": "string", "description": "Coin symbol", "example": "BTC" },
          "px": { "type": "string", "description": "Execution price", "example": "65000.5" },
          "sz": { "type": "string", "description": "Size", "example": "0.1" },
          "side": {
            "type": "string",
            "enum": ["A", "B"],
            "description": "A = ask (sell), B = bid (buy)"
          },
          "time": { "type": "integer", "description": "Timestamp in milliseconds since epoch", "example": 1700000050000 },
          "startPosition": { "type": "string", "description": "Position before this fill", "example": "0.0" },
          "dir": { "type": "string", "description": "Direction description", "example": "Open Long" },
          "closedPnl": { "type": "string", "description": "Closed PnL from this fill", "example": "0.0" },
          "hash": { "type": "string", "description": "Transaction hash", "example": "0x..." },
          "oid": { "type": "integer", "description": "Order ID", "example": 12345 },
          "crossed": { "type": "boolean", "description": "Whether the order crossed the spread" },
          "fee": { "type": "string", "description": "Fee amount", "example": "1.625" },
          "tid": { "type": "integer", "description": "Trade ID", "example": 67890 },
          "feeToken": { "type": "string", "description": "Fee token symbol", "example": "USDC" }
        }
      },
      "AddressedFill": {
        "type": "object",
        "description": "A fill paired with its user address",
        "properties": {
          "address": { "type": "string", "description": "Ethereum address of the user", "example": "0xabc123..." },
          "fill": { "$ref": "#/components/schemas/Fill" }
        }
      },
      "Trade": {
        "type": "object",
        "description": "A trade record from the fullnode volumes",
        "properties": {
          "coin": { "type": "string", "example": "BTC" },
          "px": { "type": "string", "description": "Trade price", "example": "65000.5" },
          "sz": { "type": "string", "description": "Trade size", "example": "0.1" },
          "time": { "type": "integer", "description": "Timestamp in milliseconds", "example": 1700000050000 },
          "side": { "type": "string", "enum": ["A", "B"], "description": "A = ask (sell), B = bid (buy)" }
        }
      },
      "L2BookSnapshot": {
        "type": "object",
        "description": "L2 order book snapshot for a coin",
        "properties": {
          "coin": { "type": "string", "example": "BTC" },
          "levels": {
            "type": "array",
            "description": "Order book levels (may be empty if no snapshot available)",
            "items": { "type": "object" }
          },
          "timestamp": {
            "type": "integer",
            "nullable": true,
            "description": "Snapshot timestamp in milliseconds (null if no data)"
          }
        }
      }
    }
  },
  "security": [
    { "BearerAuth": [] }
  ]
}
